@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    font-family: 'Fira Code', monospace, 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}

.bg-orange-600 {
    background-color: #ea580c;
}
.border-orange-600 {
    border-color: #f75802;
}
.conc{
    word-wrap: none;
    word-break: keep-all;
}
.hslider::-webkit-scrollbar{
  background: transparent;
  display: none;
}
.bg-slate-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
.bg-slate-900{
    background-color: #040921;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
.left-zero{
    left: 0!important;
    color: #212f4b;
}