@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

.bg-orange-600 {
    background-color: #ea580c;
}
.border-orange-600 {
    border-color: rgb(234 88 12);
}
.conc{
    word-wrap: none;
    word-break: keep-all;
}
.hslider::-webkit-scrollbar{
  background: transparent;
  display: none;
}
.bg-slate-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
.bg-white{
    background-color: white;
}